# Copy this file as .env, then fill and adapt the actual values
JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=contacts.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Bureautique
HOME_NAME=contacts
HOME_ICON=contacts.png
HOME_DESCRIPTION=A cardDAV server that uses any backend to store the contacts information
LOGFIRE_TOKEN=
DATABASE_URI=
PORT=
