JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=directus.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Bureautique
HOME_NAME=directus
HOME_ICON=directus.png
HOME_DESCRIPTION=The backend to build anything or everything
FIRESET_USER=
FIRESET_PASSWORD=
DATABASE_URI=
PHANTOMBUSTER_KEY=
PHANTOMBUSTER_LISTID=
LOGFIRE_TOKEN=
LOGLEVEL=info
PUSHOVER_APP_TOKEN=
PUSHOVER_USER_KEY=
SENTRY_DSN=
