JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=directus.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Bureautique
HOME_NAME=directus
HOME_ICON=directus.png
HOME_DESCRIPTION=The backend to build anything or everything
FIRESET_USER=
FIRESET_PASSWORD=
LOGFIRE_TOKEN=
